{% extends 'base.html.twig' %}

{% block title %}BSX - Dashboard{% endblock %}

{% block body %}
    {{ form(form) }}
    {% if error %}
        <br />
        {{ error }}
    {% endif %}

    <script>
        $(() => {
            let selected_shares = [];
            let selected_options = [];

            $('#play_shares option:selected').each(function(index, element){
                selected_shares.push($(element).val());
            });

            $('#play_options option:selected').each(function(index, element){
                selected_shares.push($(element).val());
            });

            $.post("/plays/selectstock", {stockid:$("#play_Stock").val()}, function(json){
                if(json.shares.length > 0){
                    $shares = $("#play_shares");
                    $shares.empty();
                    json.shares.forEach((element) => {
                        $shares.append("<option value="+ element.id +">"+ element.name + " - " + element.date + " - " + element.amount + " * " + element.price +"</option>");
                    });

                    selected_shares.forEach((element) => {
                        $('#play_shares option[value=' + element + ']').prop('selected', true);
                    });

                    $shares.show();
                }

                if(json.options.length > 0){
                    $options = $("#play_options");
                    $options.empty();
                    json.options.forEach((element) => {
                        const option_type = (element.type === 1) ? "call" : "put";
                        $options.append("<option value="+ element.id +">"+ element.name + " - " + element.contracts + " * $" + element.strike + option_type + " - " + element.date +"</option>");
                    });

                    selected_shares.forEach((element) => {
                        $('#play_options option[value=' + element + ']').prop('selected', true);
                    });

                    $options.show();
                }




            });
        })
    </script>
{% endblock %}