<div class="panel large_panel graph">
    <div class="title">Activites</div>
    <div class="label_wrapper">
      <div class="graph_label">Shares Money</div>
      <div class="graph_label">Futures Money</div>
      <div class="graph_label">Account Money</div>
    </div>
    <canvas id="activitiesChart" height="270"></canvas>
</div>

<script>
const label_format = 'dddd';
const ctx = document.getElementById('activitiesChart').getContext('2d');
const chart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [
      moment(new Date(2022, 1, 24)).format(label_format),
      moment(new Date(2022, 1, 25)).format(label_format),
      moment(new Date(2022, 1, 26)).format(label_format),
      moment(new Date(2022, 1, 27)).format(label_format),
      moment(new Date(2022, 1, 28)).format(label_format),
    ],
    datasets: [{
        label: 'Shares Money',
        data: [0, 100, 20, -150, 30],
        fill: false,
        borderColor: 'red',
        borderWidth: 3
      },
      {
        label: 'Futures Money',
        data: [0, -100, 130, 20, ],
        fill: false,
        borderColor: 'green',
        borderWidth: 3
      },
      {
        label: 'Account Money',
        data: [0, 150, 0, 0, 50],
        fill: false,
        borderColor: 'blue',
        borderWidth: 3
      }
    ]
  },
  options: {
    maintainAspectRatio: false,
    lineTension: 0.3,
    plugins:{
        legend: {
            display: false //This will do the task
        },
    },
    scales: {
        x: {
            grid: {
                display: false,
                drawBorder: false,
            }
        },
        y: {
            ticks: {
                beginAtZero: true
            },
            grid: {
                drawBorder: false,
                borderDash: [5,15],
                borderWidth: 3,
            }
        }
    }
  }
});
</script>