<div class="panel large_panel plays">
    <div class="title">Plays</div>
    <table>
        <tr>
            <td></td>
            <td>Alto Ingredents</td>
            <td>12 August 2021, 4pm</td>
            <td>01/28/22 $12 Call</td>
            <td>+$160</td>
        </tr>

        <tr>
            <td></td>
            <td>Alto Ingredents</td>
            <td>12 August 2021, 4pm</td>
            <td>01/28/22 $12 Call</td>
            <td>+$160</td>
        </tr>

        <tr>
            <td></td>
            <td>Alto Ingredents</td>
            <td>12 August 2021, 4pm</td>
            <td>01/28/22 $12 Call</td>
            <td>+$160</td>
        </tr>

        <tr>
            <td></td>
            <td>Alto Ingredents</td>
            <td>12 August 2021, 4pm</td>
            <td>01/28/22 $12 Call</td>
            <td>+$160</td>
        </tr>
    </table>
</div>