<div class="panel large_panel plays">
    <div class="title">Plays</div>
    <div class="play">
        <div class="logo" style="background-image: url('/assets/images/company_logos/ALTO.jpg')"></div>
        <div class="info">
            <div class="playname">Alto Ingredients</div>
            <div class="playdetails">02 August, 2021 - $40 Call</div>
        </div>
        <div class="profit">+$10</div>
    </div>

    <div class="play">
        <div class="logo" style="background-image: url('/assets/images/company_logos/ALTO.jpg')"></div>
        <div class="info">
            <div class="playname">Alto Ingredients</div>
            <div class="playdetails">02 August, 2021 - $40 Call</div>
        </div>
        <div class="profit">+$10</div>
    </div>


    {#
        <div class="play">
        <div class="logo"></div>
        <div class="info">
            <div class="playname"></div>
            <div class="playdetails"></div>
        </div>
        <div class="profit"></div>
    </div>
     #}
</div>