<div class="panel portfolio">
    <div class="status">
        <div class="money">{{ amount }}</div>
        <div class="gainbox">
            <span class="title">Gain</span>
            <span class="amount">{{ gain_total }}</span>
        </div>
        <div class="gainbox">
            <span class="title">Gain Today</span>
            <span class="amount">{{ gain_day }}</span>
        </div>
    </div>
    <div class="info">
        <div class="name"><span class="info_label">Name</span><br />Swing Trade Portfolio</div>
        <div class="updated"><span class="info_label">Updated</span><br />12/29/2021</div>
    </div>
</div>