<div class="cash panel">
    <div class="title">Free Cash</div>
    <div class="amount">{{ amount_can|format_currency('USD', {fraction_digit: 2}) }} / {{ amount_usd|format_currency('USD', {fraction_digit: 2}) }}</div>
    <div class="text-center">
        <a class="cash_button" href="/wallet/deposit">Deposit</a>
        <a class="cash_button" href="/wallet/withdrawl">Withdrawl</a>
    </div>
</div>