<div class="panel navbar">
    <div class="logo"></div>
    <nav>
        <ul>
            <li><a href="/"><span class="material-icons">space_dashboard</span>Dashboard</a></li>
            <li><a href="/plays"><span class="material-icons">note_alt</span>Plays</a></li>
            <li><a href="/futures"><span class="material-icons">payments</span>Futures</a></li>
            <li>
                <a href="#" class="submenu-title" data-submenu="stocks"><span class="material-icons">card_membership</span>Stocks</a>
                <ul class="submenu" data-submenu="stocks">
                    <li><a href="/portfolio/create">Create Portfolio</a></li>
                    <li><a href="/stocks">All Stocks</a></li>
                    <li><a href="/stocks/coveredcalls">Covered Calls</a></a></li>
                    <li><a href="/stocks/add">Add Stock</a></li>
                    <li><a href="/stocks/shares/buy">Buy Shares</a></li>
                    <li><a href="/stocks/shares/sell">Sell Shares</a></li>
                    <li><a href="/stocks/options/add">Add Option</a></li>
                    <li><a href="/stocks/options/buy">Buy Option</a></li>
                    <li><a href="/stocks/options/sell">Sell Option</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="submenu-title" data-submenu="dividends"><span class="material-icons">payments</span>Dividends</a>
                <ul class="submenu" data-submenu="dividends">
                    <li><a href="/dividends/add"><span class="material-icons">queue</span>Add Dividend</a></li>
                    <li><a href="/dividends"><span class="material-icons">card_membership</span>View Payments</a></li>
                    <li><a href="/dividends/stock"><span class="material-icons">card_membership</span>View Stock</a></li>
                    <li><a href="/dividends/month"><span class="material-icons">today</span>View Month</a></li>
                    <li><a href="/dividends/quarter"><span class="material-icons">today</span>View Quarter</a></li>
                    <li><a href="/dividends/year"><span class="material-icons">calendar_month</span>View Year</a></li>
                </ul>
            </li>
            <li><a href="/transactions"><span class="material-icons">receipt_long</span>Transactions</a></li>
            <li>
                <a href="#" class="submenu-title" data-submenu="tools"><span class="material-symbols-outlined">construction</span>Tools</a>
                <ul class="submenu" data-submenu="tools">
                    <li><a href="/tools/sharestradecalc"><span class="material-icons"><span class="material-symbols-outlined">calculate</span></span>Shares Trade Calculator</a></li>
                    <li><a href="/tools/futurestradecalc"><span class="material-icons"><span class="material-symbols-outlined">calculate</span></span>Futures Daytrade Calculator</a></li>
                    <li><a href="/tools/optionstradecalc"><span class="material-icons"><span class="material-symbols-outlined">calculate</span></span>Options Daytrade Calculator</a></li>
                    <li><a href="https://www.cmegroup.com/trading/interest-rates/countdown-to-fomc.html" target="_blank"><span class="material-icons"><span class="material-symbols-outlined">nest_clock_farsight_analog</span></span>Countdown to FOMC</a></li>
                    <li><a href="/tools/tenpercentplan"><span class="material-icons">percent</span>Ten Percent Plan</a></li>
                    <li><a href="https://www.cnn.com/markets/fear-and-greed" target="_blank"><span class="material-symbols-outlined">speed</span></span>Greed &amp; Fear Index</a></li>
                </ul>
            </li>
            <li><a href="/tools/articles"><span class="material-symbols-outlined">description</span>Articles</a></li>
            <li><a href="/notes"><span class="material-icons">speaker_notes</span>Notes</a>
            <li><a href="/settings"><span class="material-icons">settings</span>Settings</a>
            <li><a href="/logout"><span class="material-icons">power_settings_new</span>Logout</a></li>
        </ul>
    </nav>
</div>