{% extends 'base.html.twig' %}

{% block title %}Hello DividendController!{% endblock %}

{% block body %}
    <table>
        <tr>
            <th></th>
            <th>Company Name</th>
            <th>Payment Date</th>
            <th>Payment Amount</th>
        </tr>

        {% for payment in dividend_payments %}
        <tr>
            <td><img src="/assets/images/company_logos/{{ payment.stock.ticker }}.jpg" alt="" style='width: 60px; height: 60px; border-radius: 12px;'></td>
            <td>{{ payment.stock.name }}</td>
            <td>{{ payment.paymentDate|date("m/d/Y") }}</td>
            <td>{{ payment.amount }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
