{% extends 'base.html.twig' %}

{% block title %}Dividends by Quarter{% endblock %}

{% block body %}
    {% set quarters = [] %}
    {% set total = 0 %}
    {% for dividend_payment in dividend_payments %}
        {% set q_year = dividend_payment.paymentDate|date("Y") %}
        {% set q_month = dividend_payment.paymentDate|date("n") %}
        {% set quarter = q_month / 3 %}
        {% set quarter = quarter|round(0,'ceil') %}

        {% if quarter == 1 %}
            {% set q_key = q_year ~ " - First Quarter (Jan - Mar)" %}
        {% endif %}

        {% if quarter == 2 %}
            {% set q_key = q_year ~ " - Second Quarter (Apr - Jun)" %}
        {% endif %}

        {% if quarter == 3 %}
            {% set q_key = q_year ~ " - Third Quarter (Jul - Sept)" %}
        {% endif %}

        {% if quarter == 4 %}
            {% set q_key = q_year ~ " - Fourth Quarter (Oct - Dec)" %}
        {% endif %}

        {% if quarters[q_key] is defined %}
            {% set quarters = quarters|merge({(q_key):quarters[q_key] + dividend_payment.amount}) %}
        {% else %}
            {% set quarters = quarters|merge({(q_key):dividend_payment.amount}) %}
        {% endif %}

    {% endfor %}

    <table class="dividend_table">
        <tr>
            <th>Quarter</th>
            <th>Quarterly Payout</th>
            <th>Total Amount</th>
        </tr>

        {% for key,quarter in quarters %}
            {% set total = total + quarter %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ quarter|number_format(2) }}</td>
                <td>{{ total|number_format(2) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
