{% extends 'base.html.twig' %}

{% block title %}Dividends by Year{% endblock %}

{% block body %}
    {% set years = [] %}
    {% set total = 0 %}
    {% for dividend_payment in dividend_payments %}
        {% set year = dividend_payment.paymentDate|date("Y") %}
        {% set year = " " ~ year|raw %} {# I have to add a space or twig does not loop correctly, must be due to the key being a number #}

        {% if years[year] is defined %}
            {% set years = years|merge({(year):years[year] + dividend_payment.amount}) %}
        {% else %}
            {% set years = years|merge({(year):dividend_payment.amount}) %}
        {% endif %}
    {% endfor %}

    <table class="dividend_table">
        <tr>
            <th>Year</th>
            <th>Yearly Payout</th>
            <th>Total Amount</th>
        </tr>

        {% for key,year in years %}
            {% set total = total + year %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ year|number_format(2) }}</td>
                <td>{{ total|number_format(2) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
