<div class="cash panel end">
    <div class="title">Transfer Assets to Another Account</div>
    <br />

    <div class="text-center">
        <a class="cash_button" href="/transfer/cdn" style="width: 47%;">CDN Cash</a>
        <a class="cash_button" href="/transfer/usd" style="width: 47%;">US Cash</a><br /><br />
        <a class="cash_button" href="/transfer/shares" style="width: 47%;">Shares</a>
        <a class="cash_button" href="/transfer/options" style="width: 47%;">Options</a>
    </div>
</div>