<div class="cash panel end" style="height: auto;">
    <div class="title">Transfer Assets to Another Account</div>
    <br />

    <div class="text-center">
        <a class="cash_button" href="/transfer/cdn" style="width:48%;">CDN Cash</a>
        <a class="cash_button" href="/transfer/usd" style="width:48%; margin-left: 0;">US Cash</a>
        <a class="cash_button" href="/transfer/shares" style="width:48%; margin-left: 0; margin-top: 12px;">Shares</a>
        <a class="cash_button" href="/transfer/options" style="width:48%; margin-left: 0; margin-top: 12px;">Options</a>
    </div>
</div>