<div class="cash panel end">
    <div class="title">Cash Locked</div>
    <div class="amount">{{ amount_can|format_currency('USD', {fraction_digit: 2}) }} / {{ amount_usd|format_currency('USD', {fraction_digit: 2}) }}</div>
</div>