{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <p>Articles form Ticker Wizards, WSB and other sources</p>

    <h3>TJ's WallstreetBets Articles</h3>
    <p>
        <ul>
            <li><a href="https://www.reddit.com/r/wallstreetbets/comments/ux00np/a_retards_guide_to_market_dynamics_why_stocks_go/" target="_blank">A Retard's Guide to Market Dynamics - Why Stocks Go UP and DOWN</a></li>
            <li><a href="https://www.reddit.com/r/wallstreetbets/comments/v1zas8/the_truth_about_stock_earnings/" target="_blank">Truth about Stock Earnings - it's a trap!</a></li>
            <li><a href="https://www.reddit.com/r/wallstreetbets/comments/v2ks36/why_technical_analysis_is_mostly_bullshit/?sort=new" target="_blank">Why Technical Analysis Is (Mostly) BULLSHIT</a></li>
            <li><a href="https://www.reddit.com/r/wallstreetbets/comments/v66nn3/learning_from_the_past_money_supply_and_inflation/" target="_blank">Learning from the Past: Money Supply and Inflation Fluctuations</a></li>
            <li><a href="https://www.reddit.com/r/TickerWizards/comments/qgjbb6/understanding_sectors_and_adapting_to_every/" target="_blank">Understanding Sectors And Adapting To Every Market Condition Discussion</a></li>
        </ul>
    </p>
{% endblock %}

