@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/open_sans_vf.ttf") format("ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/open_sans_italic_vf.ttf") format("ttf");
    font-weight: italic;
}