// --------- Colors ------------ //

// Layout Colors
$page_background_color: #EDEFF3;
$container_background_color: lightgray;

// Panels Colors
$navbar-background-color: white;
$portfolio-background-color: teal;
$cash-background-color: gray;

$primary-color: #019245;
$secondary-color: #005b5f;
$secondary-color-2: #f5e806;

// -------- Sizes ------------ //

$nav-panel-width: 304px;

