// --------- Colors ------------ //

// Layout Colors
$page_background_color: white;
$container_background_color: blue;

// Panels Colors
$navbar-background-color: white;
$portfolio-background-color: teal;
$cash-background-color: gray;

// -------- Sizes ------------ //

$nav-panel-width: 302px;