

.wide_column{
    width: 660px;
    display: inline-block;
    vertical-align: top;
    margin-right: 21px;
}

.narrow_column{
    width: 396px;
    display: inline-block;
    vertical-align: top;
}

// Panel Types..
.panel{
    display: inline-block;
    vertical-align: top;
    margin-right: 21px;

    &.end{
        margin-right: 0;
    }
}

.large_panel{
    width: 660px;
}

.small_panel {
    width: 396px;
}

.panel > .title{
    padding-top: 30px;
    padding-bottom: 16px;
    color: white;
    font-size: 24px;
}


// Portfolio Panel(s)
.portfolio_wrapper {
    display: inline-block;
    width: 680px;
    vertical-align: top;
}

.portfolio {
    display: inline-block;
    box-sizing: border-box;
    width: 318px;
    height: 220px;
    padding: 20px;
    margin-right: 20px;
    margin-top: 10px;
    background: $portfolio-background-color;
    border-radius: 10px;
    vertical-align: top;

    &.futures{
        .title{
            padding-top: 0;
        }
    }

    .status{
        height: 130px;
    }

    .money{
        height: 50px;
        font-size: 40px
    }

    .gainbox {
        display: inline-block;
        width: 45%;
        margin: 0 2.5%;
        vertical-align: top;

        &:first-of-type{
            margin-left: 0;
        }

        &:last-of-type{
            margin-right: 0;
        }

        .title{

        }

        .amount_wrapper{
            background: white;

            .amount{
                padding: 5px 0;
            }
        }
    }

    .info {
        padding-top: 15px;

        .info_label{
            display: inline-block;
            padding-bottom: 6px;
        }

        .name{
            display: inline-block;
            width: calc(100% - 70px);
        }

        .updated{
            display: inline-block;
            width: 70px;
        }
    }
}

// Wallet Panel..
.cash {
    display: inline-block;
    box-sizing: border-box;
    width: 396px;
    margin-top: 10px;
    padding: 20px;
    height: 220px;
    background: $cash-background-color;
    border-radius: 10px;
    vertical-align: top;

    .title{
        padding: 0;
        line-height: 30px;
    }

    .amount{
        height: 100px;
        line-height: 80px;
        font-size: 40px;
    }

    a{
        display: inline-block;
        background: green;
        width: 110px;
        height: 50px;
        margin: 0 4px;
        text-align: center;
        line-height: 50px;
        color: white;
        border-radius: 12px;
        
        &:first-of-type{
            margin-left: 0;
        }

        &:last-of-type{
            margin-right: 0;
        }
    }
}

// Transactions Panel..
.transactions{

}

.transaction{
    height: 75px;

    .type{
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        vertical-align: top;
        $triangle-size: 8px;
        $triangle-size2: 12px;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0; 
            height: 0;
            transform: translate(-50%, -50%); 
        }
        

        &[data-type="1"]{
            background: #e3ffed;

            &:after{
                border-left: $triangle-size solid transparent;
                border-right: $triangle-size solid transparent;
                border-bottom: $triangle-size2 solid #42ff81;
            }

        }

        &[data-type="2"]{
            background: #ffe3e8;

            &:after{
                border-left: $triangle-size solid transparent;
                border-right: $triangle-size solid transparent;
                border-top: $triangle-size2 solid #ff4267;
            }
        }

        &[data-type="3"]{
            background: #fff1e3;
            
            &:after{
                border-top: $triangle-size solid transparent;
                border-bottom: $triangle-size solid transparent; 
                border-right: $triangle-size2 solid #ff9e42;
            }
        }

        &[data-type="4"]{
            background: #daefff;
            
            &:after{
                border-top:$triangle-size solid transparent;
                border-bottom: $triangle-size solid transparent;
                border-left: $triangle-size2 solid #0891fe;
            }
        }

        &[data-type="5"]{
            background: #CCF;

            &:after {
                display: inline-block;
                content: "";
                width: 30px;
                height: 30px;
                vertical-align: -.125em;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%231c1cc2" class="bi bi-arrow-repeat" viewBox="0 0 16 16"><path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/><path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/></svg>');
                background-repeat: no-repeat;
                background-size: 30px 30px;
            }
        }

        &[data-type="6"]{
            background: #fdff99;

            &:after {
                display: inline-block;
                content: "";
                width: 30px;
                height: 30px;
                vertical-align: -.125em;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23bbb814" class="bi bi-arrow-repeat" viewBox="0 0 16 16"><path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/><path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/></svg>');
                background-repeat: no-repeat;
                background-size: 30px 30px;
            }
        }
    }

    .title{
        display: inline-block;
        box-sizing: border-box;
        width: calc(100% - 50px - 70px);
        padding-left: 20px;
        padding-top: 3px;
        vertical-align: top;
        .name{
            display: block;
        }
        .amount{
            display: inline-block;
            padding-top: 10px;
            color: red;

            &.green{
                color: green;
            }
        }
    }

    .date{
        display: inline-block;
        width: 70px;
        padding-top: 18px;
        font-size: 15px;
        vertical-align: top;
    }
}

// Graph Panel

.graph{
    position: relative;
    height: 270px;
    padding-top: 0;

    .label_wrapper{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 34px;
        padding-right: 4px;
        text-align: right;
    }

    .graph_label {
         position: relative;
         display: inline-block;
         margin-left: 50px;
         text-align: right;

         &:before{
             content: '';
             position: absolute;
             top: 50%;
             left: -18px;
             display: block;
             width: 10px;
             height: 10px;
             background: black;
             border-radius: 50%;
             transform: translateY(-50%);
         }
     }
}



// Stats Panel

.stats {
    position: relative;
    // Stats - Hot/Cold

    .hcChartWrapper{
        width: 230px;
        height: 230px;
        margin-top: 31px;
        margin-left: 24px;
    }

    .legend{
        position: absolute;
        left: 263px;
        top: 89px;
        list-style: none;

        li{
            position: relative;
            padding-bottom: 33px;
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 4px;
                left: -23px;
                width: 12px;
                height: 12px;
                border-radius: 12px;
            }

            &:nth-of-type(1){
                &:before{
                    background-color: #FF224E;
                }
            }

            &:nth-of-type(2){
                &:before{
                    background-color: #005DF3;
                }
            }

            &:nth-of-type(3){
                &:before{
                    background-color: #DBE2F4;
                }
            }
        }
    }

    .center_percent{
        position: absolute;
        top: 176px;
        left: 23px;
        width: 231px;
        text-align: center;

        .amount {
            font-size: 51px;
        }

        .text {
            padding-top: 14px;
        }

        .warning{
            font-size: 14px;
            color: red;
        }
    }

}


// Plays Panel

.plays {
    > .title {
        padding-top: 61px;
    }
    .play{
        position: relative;
        box-sizing: border-box;
        width: calc(100% - 4px);
        padding: 9px 12px;
        margin-bottom: 16px;
        border: solid 1px black;
        border-radius: 10px;

        &:last-of-type{
            margin-bottom: 0;
        }
    }

    .logo{
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-size: 100%;
        vertical-align: top;
    }

    .info{
        display: inline-block;
        padding-left: 8px;
        vertical-align: top;
    }

    .playname{
        font-size: 19px;
        padding-bottom: 3px;
    }

    .playdetails{
        font-size: 14px;
    }

    .profit{
        position: absolute;
        top: 19px;
        right: 11px;
        display: block;
        font-size: 18px;

        &.green{

        }

        &.red{
            
        }
    }
}


