body{
    padding-top: 62px;
    background: $page_background_color;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    background: $container_background_color;
    border-radius: 24px;
}

.page_content{
    display: inline-block;
    width: calc(100% - 300px);
    box-sizing: border-box;
    padding: 30px;
    vertical-align: top;
}