.navbar {
    display: inline-block;
    width: $nav-panel-width;
    background: $navbar-background-color;
    vertical-align: top;
    border-radius: 24px 0 0 24px;
    border-right:solid 1px black;

    &.panel {
        margin: 0;
    }

    .logo {
        display: block;
        width: 100%;
        height: 110px;
        background: url(/assets/images/small-2.png) center 10px no-repeat;
        background-size: 54%;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        
        // Main Menu Items
        li {
            padding-bottom: 20px;

            a {
                display: block;
                height: 47px;
                line-height: 47px;
                border-left: solid black 4px;
                margin-left: 3px;
                padding-left: 26px;
                padding-right: 0;
                text-decoration: none;
                font-size: 20px;
                background: white;

                &:hover {
                    background: gray;
                }
            }

            span{
                margin-right: 20px;
                vertical-align: middle;
            }

            

            // Item sub menu
            ul{
                display: none;

                // sub menu item
                li{
                    a {
                        padding-left: 70px;
                        font-size: 17px;
                    }

                    span{
                        display: none;
                    }
                }
            }
        }
    }
}