<h2>Project Notes</h2>

<h3>TODO List</h3>
<ul>
    <li><strong>User Settings</strong></li>
    <ul>
        <li>Create page to adjust user settings</li>
        <li>Create setting for max amount of play money (hot/cold)</li>
        <li>Create setting for max amount of plays at one time</li>
    </ul>

    <li><strong>10% Plan</strong></li>
    <ul>
        <li>Create Entity for 10% plan (week #1 (id), date, amount changed, target change, new total, target, percent, next weeks target)</li>
        <li>Create Page for 10% plan details</li>
        <li>Calculate weekly total automatic after week is over (next login after current week ends)</li>
    </ul>

    <li><strong>Stocks/Plays Entites</strong></li>
    <ul>
        <li>Create stock entity with the following properties(name, logo, earned(sold + dividends),last bought, last sold, country, dividends</li>
        <li>Create share entity with the following properties (stock(entity), p/e, bought, sold, current price, average price, day gain/loss, profit point</li>
        <li>Create option entity with the following properties (stock(entity), p/e, bought, sold, current price, average price, day gain/loss, profit point</li>
        <li>Create play entity with the following properties (stock(entity), shares/options(entity collection), earned, p/e, bought, sold, everage price, day gain/loss, profit point, wizard, notes)</li>
    </ul>

    <li><strong>Dividends</strong></li>
    <ul>
        <li>Create Entity for 10% plan (week #1 (id), date, amount changed, target change, new total, target, percent, next weeks target)</li>
        <li>Create Page for 10% plan details</li>
        <li>Calculate weekly total automatic after week is over (next login after current week ends)</li>
    </ul>

    <li><strong>Dashboard Panel Updates</strong></li>
    <ul>
        <li>Calculate Hot/Cold from total amount in wallet and money spend on current plays. If wallet is greater than h/c max, use max found in user settings.</li>
        <li>Populate plays panel in dashboard with play enties</li>
        <li>Create panel in dashboard for 10% plan. Should be simple meter ranging from -10% to 10%</li>
    </ul>

    <li><strong>Login/Regstration Form Design</strong></li>
    <ul>
        <li>Create Basic design/theme for both pages</li>
        <li>Style Login Page</li>
        <li>Style Reg Pag</li>
    </ul>

    <li><strong>Themes</strong></li>
    <ul>
        <li>Create Entity for theme settings (variables, classes, etc)</li>
        <li>Create User setting for theme in settings entity</li>
        <li>Set selected theme on dashboard when page is loaded</li>
    </ul>
    
</ul>