<h2>Project Notes</h2>

<h3>How to add a new user setting</h3>
<ol>
    <li>Add setting property to Settings entity (symfony console make:entity | Settings)</li>
    <li>Update the Database (symfony console doctrine:schema:update --force)</li>
    <li>Update SettingType form with new property</li>
    <li>Update defaults in reg controller, register action</li>
</ol>

<h3>TODO List</h3>
<ul>
    <li><strong>Stocks/Plays Entites</strong></li>
    <ul>
        <li>Create share entity with the following properties (stock(entity), amount, p/e, bought, sold, current price, average price, day gain/loss, profit point</li>
        <li>Create option entity with the following properties (stock(entity), contracts, p/e, bought, sold, current price, average price, day gain/loss, profit point</li>
        <li>Create play entity with the following properties (stock(entity), shares/options(entity collection), earned, p/e, bought, sold, average price, day gain/loss, profit point, wizard, notes)</li>
    </ul>

    <li><strong>Dividends</strong></li>
    <ul>
        <li>Add Dividend Payment amount to Wallet when added (CDN)</li>
    </ul>

    <li><strong>Dashboard Panel Updates</strong></li>
    <ul>
        <li>Calculate Hot/Cold from total amount in wallet and money spend on current plays. If wallet is greater than h/c max, use max found in user settings.</li>
        <li>Populate plays panel in dashboard with play enties</li>
        <li>Create panel in dashboard for 10% plan. Should be simple meter ranging from -10% to 10%</li>
        <li>Futures Stats</li>
    </ul>

    <li><strong>Futures</strong></li>
    <ul>
        <li>Create Dashboard Panel for futures buckets (progress bars)</li>
    </ul>

    <li><strong>Login/Regstration Form Design</strong></li>
    <ul>
        <li>Create Basic design/theme for both pages</li>
        <li>Style Login Page</li>
        <li>Style Reg Pag</li>
    </ul>

    <li><strong>Themes</strong></li>
    <ul>
        <li>Create Entity for theme settings (variables, classes, etc)</li>
        <li>Create User setting for theme in settings entity</li>
        <li>Set selected theme on dashboard when page is loaded</li>
    </ul>

    <li><strong>Super Admin Account</strong></li>
    <ul>
        <li>Create an super admin role in symfony</li>
        <li>Create an all dividends page that show all dividends payments for all users. Only seen by super admin role</li>
        <li>Create an all stocks page that shows all stocks owned by every user. Only seen by super admin role</li>
    </ul>. 
    
</ul>