<h2>Project Notes</h2>

<h3>TODO List</h3>
<ul>
    <li>Fix User Login</li>
    <li>Get Users Wallet (Using Demo Wallet at the moment)</li>
    <li>Limit Transactions in dashboard to latest 6</li>
</ul>