{% extends 'base.html.twig' %}

{% block title %}BSX - Dashboard <div class="search_wrapper" style="display:inline;"><input type="text" placeholder="search stocks" /><div class="results"></div></div>{% endblock %}

{% block body %}
    <div class="rounded h-20 w-20 bg-amber-500"></div>
{% endblock %}