{% extends 'base.html.twig' %}

{% block title %}BSX - Dashboard{% endblock %}

{% block body %}
    {# TODO: check if at least one portfolio has been created for this user, if not add the create a portfolio panel #}
    <div class="portfolio_wrapper">
        {% include "partials/panels/portfolio.html.twig" with {'name':'Swing/Day Trades', 'updated':'12/29/2021', 'amount': 0, 'gain_total':0, 'gain_total_percent':0, 'gain_day':0, 'gain_day_percent':0} %}
        {% include "partials/panels/portfolio.html.twig" with {'name':'Long Term Holding', 'updated':'12/28/2021', 'amount': 0, 'gain_total':0, 'gain_total_percent':0, 'gain_day':0, 'gain_day_percent':0} %}
    </div>

    {% include "partials/panels/wallet.html.twig" with {'amount_can': wallet.CAN, 'amount_usd': wallet.USD} %}<!--
    -->{% include "partials/panels/graph.html.twig" %}<!--
    -->{% include "partials/panels/stats.html.twig" %}<!--
    -->{% include "partials/panels/plays.html.twig" %}<!--
    -->{% include "partials/panels/transactions.html.twig" with {'transactions': transactions} %}
{% endblock %}

